* {
    margin: 2;
    padding: 2;
    box-sizing: border-box;
  }
  
html {
    height: 100%;
  }
  
body {
    min-height: 100%;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
  }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    width: 100%;

}
p {
   columns: 2 300px;
   column-gap: 2rem;
   column-rule: 1px solid #222;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 1.5rem 0;
    font-weight: 400;
}