:root {
    --dark: #1a6da0;
    --dark2: #0f4869;
    --light: #fafafa;
    --link: #0088dd;
    --text: #272727;
    --text-light: #92d7ff;
    --font-family: Arial, Helvetica, sans-serif;
}
  
body {
    display: flex;
    flex-direction: column;
}
header {
    padding: 10px;
    background-color: var(--dark);
    position: relative;
}

main {
    flex: 1 0 auto;
    padding: 10px;
    background-color: var(--light);
    min-height: calc(100vh - 250px);
}
h1 {
    display: inline-block;
    font-size: 28px;
    text-decoration: none;
} 
/* h1:hover{
    transition: all 0.5s ease-out;
    color: var(--dark2);
} */
nav {
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    padding: 15px;
    color: var(--text);
}

nav a:hover{
    font-weight: bold;
    transition: all 0.5s ease-out;
    background-color: var(--dark);
    color: var(--light);
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.container {
    display: flex;

}

h2 {
    display:flexbox;
    font-size: 26px;
    background-color: var(--text);
    padding: 2%;
}

.center {
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
}

.box {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--link);
    padding: 2%;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 20px;
    font-weight: bold;
}
  
img {
    width: 100%;
    background-size: cover;
    background-position: center;
}  

section img {
    width: 200px;
}
/* ======================== */
@media (max-width: 600px) {
    .wrapper {
      font-size: 16px;
    }
  }
@media screen and (max-width: 992px) {
    article.card {
        flex: 1 1 50%;
    }
}
@media screen and (max-width: 768px) {
    article.card {
        flex: 1 1 100%;
    }
}

/* ASIDE section */
aside {
    width: 20%;
    height:100%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    text-align: left;
    color: var(--text);
}

article > img {
    width: 50%;
}

/* FOOTER section */
footer {
    padding: 10px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: var(--dark);
    position: relative;
}

footer h2 {
    font-size: 20px;
    margin-bottom: 0px;
    text-decoration: none;
}